{% assign image = page.footer | default: site.footer %}
{% assign dark = page.footer-dark | is_nil: site.footer-dark | is_nil: true %}

<footer
  class="background"
  style="--image: url('{{ image | relative_url | uri_escape }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  data-size="wide"
>
  <!--
    <div>
      Extra details like contact info or address
    </div>
  -->

  <div>
    <!-- 硬编码联系方式 -->
    <a href="mailto:meng.28@osu.edu" class="link" data-tooltip="Email" aria-label="email">
      <i class="fas fa-envelope fa-lg"></i>
    </a>
    <a href="https://scholar.google.com/citations?user=MDKCNTsAAAAJ" class="link" data-tooltip="Google Scholar" aria-label="google-scholar">
      <i class="fab fa-google fa-lg"></i>
    </a>
    <a href="https://twitter.com/jingbomeng" class="link" data-tooltip="Twitter" aria-label="twitter">
      <i class="fab fa-twitter fa-lg"></i>
    </a>
  </div>

  <div>
    &copy; {{ site.time | date: "%Y" }}
    Communication and Computation for Well-Being Lab
    &nbsp; | &nbsp; Built with
    <a href="https://github.com/greenelab/lab-website-template">
      Lab Website Template
    </a>
  </div>

  <input
    type="checkbox"
    class="dark-toggle"
    data-tooltip="Dark mode"
    aria-label="toggle dark mode"
    oninput="onDarkToggleChange(event)"
  >
</footer>
